*{
    margin: 0%;
    padding: 0%;
  
}
.main{
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.infobox{
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
}