*{
    margin: 0%;
    padding: 0%;
  
}
.main{
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.infobox{
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
}
body{
   background-image:url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg")
}